/* .registerContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(212, 153, 153, 0.617);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
} */
.registerForm {
  width: 35%;
  background-color: #eee;
  padding: 3rem;
  border-radius: 20px;
  position: relative;
}
.closeBtn {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}
.passwordInput {
  position: relative;
}
.dropdownContainer {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-evenly;
  align-items: center;
}
.show {
  display: block;
}
.hidden {
  display: none;
}
.custom-toast {
  background-color: #333;
  color: #fff;
}
.fullNameContainer {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0;
}
.btnActive {
  background-color: red;
}
.errorText,
text-muted {
  color: red;
}
